<div class="row-fluid">
  <div class="span12 center">
      <%=image_tag("/imgs/brand-main.png") %>
     <h4 class="main-sentence">Precisa dos serviços de um Autonomo? Encontre aqui por: </h4>
  </div>
</div>
<div class="row-fluid border-bottom">
  <div class="span3"></div>
  <div class="span9 ">
    <%=render "form_search" %>

  </div>
</div>
