<div class="row-fluid border-bottom">
     <table >
	    <tr>
	     <td><figure><a href="#"><img id="step1" src="/imgs/icons/icon1.png" width="100px" height="100px" onclick="OpenSel(1);"></a></figure></td>
	     <td><figure><a href="#"><img id="step2" src="/imgs/icons/icon22.png" width="100px" height="100px" onclick="OpenSel(2);"></a></figure></td>
         <td><figure><a href="#"><img id="step3" src="/imgs/icons/icon33.png" width="100px" height="100px" onclick="OpenSel(3);"></a></figure></td>
	     <td><figure><a href="#"><img id="step4" src="/imgs/icons/icon44.png" width="100px" height="100px" onclick="OpenSel(4);"></a></figure></td>
	    </tr>
     </table>
 </div>

 <br/>
